.sidebar {
  color: $white;
  max-width: 100%;
  max-height: 200px;
  position: sticky;
  top: 90px;
  z-index: 10;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  &__item {
    border-radius: 10px;
    &--active {
      background: $blackMozart;
    }
    &:hover {
      background: $blackMozart;
    }

    &--favorites {
      position: relative;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px;
    height: 20px;
  }

  &__icon {
    font-size: 15px;
  }

  &__label {
    display: none;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    min-width: 160px;
    cursor: pointer;
    &--active {
      display: none;
      @media (min-width: 769px) {
        display: flex;
      }
    }
  }

  &__count {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $white;
    background: $red;
    position: absolute;
    left: -6px;
    bottom: -5px;
    z-index: 1;
    padding: 4px;
    width: 5px;
    height: 5px;
  }
}
