@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes scaleNormal {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}